<section class="w-100 bg-dark">
    <div class="container d-flex justify-content-around align-items-center py-3 flex-column flex-xxl-row">
        <div class="text-center py-2">
            <a href="#" class="text-light text-decoration-none"></a>
        </div>
        <div class="text-center py-2">
            <a href="#" class="text-light text-decoration-none">Copyright &#169; 2023 Voíla</a>
        </div>
        <div class="text-center py-2">
            <a href="#" class="text-light text-decoration-none"></a>
        </div>
    </div>
</section>
