<section id="about-us" class="container mt-5">
    <div class="d-flex justify-content-center align-items-center text-center">
        <span class="px-5 py-2 rounded-pill bg-dark text-light fs-5"><b>ABOUT US</b></span>
    </div>
    <div class="d-flex justify-content-center align-items-center text-center my-4">
        <p class="fs-4 text-light fst-italic">
            <b> 
                We are much more than a conventional creative agency; <br>
                We are pioneers in merging innovative ideas with applied <br>
                technology and logistical solutions.
            </b>
        </p>
    </div>
    <div class="d-flex justify-content-center align-items-center text-left text-light flex-column flex-xxl-row">
        <div class="col-11 col-xxl-6 fs-6 text">
            <p>
                At Voila, we believe that every project is an opportunity to<br>
                weave extraordinary experiences and leave a lasting<br>
                impression in the hearts of your audience.
            </p>
            <p>
                In a world where <b>creativity and technology converge</b>,<br>
                Voila stands out as the compass that guides <b>companies<br>
                to new frontiers</b>.
            </p>
            <p>
                We are not only <b>creative experts</b>, but also architects of <br>
                <b>logistics solutions</b> and masters of <b>applied technology</b>.<br>
                We are proud to offer a comprehensive approach that<br>
                transforms <b>your ideas into tangible realities</b>.
            </p>
        </div>
        <div class="col-11 col-xxl-4 d-flex justify-content-center align-items-center">
            <img src="assets/images/potion.png" class="img-fluid" width="500">
        </div>
    </div>
</section>