<section class="container mt-5">
    <div class="d-flex justify-content-center align-items-center text-center">
        <span class="mx-2 mx-xxl-0 px-5 py-2 rounded-pill bg-dark text-light fs-5"><b>START A PROJECT WITH US</b></span>
    </div>
    <div class="d-flex justify-content-center align-items-center text-center my-4 flex-column flex-xxl-row">
        <div class="d-flex justify-content-center align-items-center text-center flex-column col-12 col-xxl-6">
            <h1 class="title text-light fst-italic mt-5"><b>LET'S WORK TOGETHER</b></h1>
            <div id="sphere" style="margin-top: -60px;" #sphere></div>
        </div>
        <div class="position-relative col-12 col-xxl-6">
            <a id="whatsapp" class="position-relative w-100 h-100 d-block cursor-pointer" (click)="open()">
                <svg
                    class="rotation w-100 h-100 overflow-visible"
                    viewBox="0 0 100 100"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        id="circlePath"
                        d="
                            M 10, 50
                            a 40,40 0 1,1 80,0
                            40,40 0 1,1 -80,0
                        "
                        fill="var(--bs-secondary)"
                    />
                    <text font-size="6.85" fill="var(--bs-light)">
                        <textPath href="#circlePath">
                            CONTACT US &#8226; CONTACT US &#8226; CONTACT US &#8226; CONTACT US &#8226;
                        </textPath>
                    </text>
                    <path
                        id="circlePath"
                        d="
                            M 15, 50
                            a 35,35 0 1,1 70,0
                            35,35 0 1,1 -70,0
                        "
                        fill="var(--bs-dark)"
                    />
                    
                </svg>
                <i class="bx bx-message-dots text-secondary position-absolute top-50 start-50 translate-middle icon" ></i>
            </a>
        </div>
    </div>
</section>